doctype html 
html 
    head 
    body 
        p some text aey
        ul
            li Lorem, ipsum.
            li Expedita, esse?
            li Magnam, nam.
            li Inventore, aliquid!
            li Provident, voluptatem?
            li Sequi, assumenda!
            li Deleniti, consequatur?
            li Molestiae, beatae.
            li Nihil, aliquam.
            li Ipsa, id? dasdada fafafa dasdasd adadad